body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; /* Set background to white */
}

header {
  background-color: #333; /* Dark gray header */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit-button {
  background-color: #3498db; /* Blue exit button */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #cfe2ff; /* Light blue search bar */
}

.settings-button {
  background-color: #3498db; /* Blue settings button */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.country-container {
  text-align: center;
  margin-top: 20px;
}

.country-button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff; /* White button background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

/* Center the content within each button */
.country-button img {
  display: block;
  margin: 0 auto; 
}

.country-name {
  margin-top: 5px;
  text-align: center;
}
