@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@font-face {
    font-family: 'Batangas';
    src: url('../font/Batangas Bold 700.otf');
  }

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    width: 100%;
    margin: 0;
}

#topNav {
    display: flex;
    font-family: 'Fredoka';
    background-color: #315e9b;
  align-items: center;
  padding: 0 10px;
  height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navlink {
    margin-left: 20px;
}

a:hover {
    color: pink;
}

#logo {
    width: 100px;
    padding-left: 5px;
}

#brightness {
    width: 30px;
    height: 30px;
    border-style: solid;
    border: black;
    margin-right: 0;
    margin-left: auto;
}


p {
    font-size: medium;
}

h3 {
    font-family: 'Fredoka';
    color: #032078;
}

#playNow {
    background-color: #c5daf6;
    text-align: center;
}

#startPlaying {
    display: flex;
}

#listSection {
    display: flex;
}

#infoRow {
    display: flex;
}

#aboutUsSection {
    display: flex;
    text-align: center;
}


#infoRow > div {
    margin: auto;
    padding: 5px;
    align-items: center;
    align-content:center;
    text-align: center;
}

#infoRow > div > img  {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#infoRow > div > p {
    font-size: 70%;
    width: 0;
    min-width: 100%;
    position: relative;
    vertical-align: top;
}


#bottomNav {
  display: flex;
  font-family: 'Fredoka';
  background-color: #315e9b;
  align-items: center;
  padding: 0 10px;
  height: 80px;
}

#bottomNav a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#bottomNav a:hover {
    color: pink;
}

/* Elements for play.html */

h1 {
    text-align: center;
    font-family: 'Fredoka';
    color: #032078
}

.exit-button {
    float: left;
    width: 40px;
    height: 40px;
}

.gameModeButton {
    text-decoration: none;
}

.largeButton {
    background-color: #315e9b;
    color: white;
    font-family: 'Fredoka';
    width: 250px;
    height: 250px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-shadow: 5px 5px black;
}

#largeButtonSection {
    display: flex;
    justify-content: center;
}

.smallButton {
    background-color: #315e9b;
    color: white;
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    text-shadow: 3px 3px black;
    margin: 0px 10px 20px 10px;
}

#smallButtonSection {
    display: flex;
    justify-content: center;
}

#play {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(7px 7px 0px #222);
}

#lightbulb {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 3px 0px #222);
}

#gear {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 3px 0px #222);
}

#arrow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 3px 0px #222);
}

/* Elements for settings */

#triviah1 {
    color: white;
}

#triviaSettingsBox {
    background-color: #315e9b;
    color: white;
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: left;
    flex-direction: column;
    text-shadow: 3px 3px black;
    z-index: 1100;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}

.horizontalSettings {
    display: flex;
    margin-left: 20px;
}

.settingInputs {
    margin-left: 13px;
    background-color: #032078;
    color: white;
}

.submitButtons {
    background-color: white;
    color: #032078;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    font-family: 'Fredoka';
    font-size: 25px;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 40px;
}

.submitButtons:hover {
    color: rgb(15, 4, 224);
}

.submitButtons:active {
    transform: translate(4px, 4px);
}

.finalConfirmation {
    display: flex;
    justify-content: center;
}

#learningSettingsBox {
    background-color: #315e9b;
    color: white;
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: left;
    flex-direction: column;
    text-shadow: 3px 3px black;
    margin: 0px 10px 0px 100px;

}

#learningh1 {
    color: white;
}

.largeButton:hover {
    color: pink;
}

.largeButton:active {
    transform: translate(4px, 4px);
}

.smallButton:hover {
    color: pink;
}

.smallButton:active {
    transform: translate(4px, 4px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}

@keyframes zoomIn {
    from {
        transform: translate(-50%, -50%) scale(0); 
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

}

@keyframes zoomOut {
    from {
        transform: translate(-50%, -50%) scale(1); 
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}