  /*Simple Phrases Individual Page*/
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


  #spMainContent {
    width: 1100px;
    height: 550px;
    border: 3px solid;
    border-radius: 5px;
    background-color: #c5daf6;
    padding: 10px;
    margin: 0px auto;
    margin-top:20px;
}

#phrasesToggle {
    background-color: #f0f7ff;
    padding: 20px 10px;
    border-radius: 6px;
}

.spNavLink {
    position:relative;
    display:inline-block;
    text-decoration: none;
    background-color: #f0f7ff;
    color: #0e0e52;
    font-size: 130%;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-family:'Trebuchet MS';
}

.spNavLink:hover {
    background-color: #0e0e52;
    color: #f0f7ff;
}

#spTop {
    display:flex;
    margin: 0 auto;
    align-items: center;
    left: 50%;
}

#flagImg > img {
    margin-right: 20px;
    border-radius: 10px;
}

#um {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Fredoka';
    font-weight: 400;
    color: #032078;
    font-size: 400%;
}

.dark-mode {
    background-color: #282828;
    color: white;
}

.dark-mode h1 {
    color:#c5daf6
}

.dark-mode h3 {
    color: #c5daf6;
}

  